include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

graft meucandidato_dags/processors
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.rst Makefile
